/* 1. Separación del Navbar */
#miCarrusel {
    margin-top: 80px !important;
    padding-bottom: 40px;
}

/* 2. Tamaño de las imágenes*/
.custom-img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border: 6px solid #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}


/* Espaciado del Carrusel */
#miCarrusel {
    margin-bottom: 60px;
}

/* Estilo para las imágenes de las Cards */
.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card {
    border: none;
    transition: transform 0.3s ease;
}



/* Colores de botones personalizados */
.btn-primary {
    background-color: #f38ee6;
    border: none;
}

.btn-primary:hover {
    background-color: #d31cb4;
}

/*  flechas más grandes y visibles */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 60px;
    /* Antes 40px */
    width: 60px;
    /* Antes 40px */
    filter: drop-shadow(0px 0px 8px rgba(248, 135, 210, 0.6));
    background-color: rgba(233, 157, 201, 0.3);
    border-radius: 50%;
}

/* Estilo de la Card de Detalle */
.card-detalle {
    border: none;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.3s ease;
}

/* Imagen circular y grande */
.img-detalle {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px auto;
    border: 8px solid #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.precio-tag {
    color: #27ae60;
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-agregar {
    background-color: #f38ee6;
    border: none;
    padding: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    transition: background 0.3s;
}

.btn-agregar:hover {
    background-color: #d31cb4;
}



footer {
    border-top: 3px solid #d31cb4;
    width: 100%;
}

footer p {
    letter-spacing: 1px;
}

/* se mantenga en el lugar*/
body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 100px;
    /* Espacio para que el footer no tape el contenido */
}

footer {
    position: absolute;
    bottom: 0;
}

/*  Responsividad se ajustada  tamaños */
@media (max-width: 1200px) {
    .custom-img {
        width: 320px;
        height: 320px;
    }
}

@media (max-width: 992px) {
    #miCarrusel {
        margin-top: 100px !important;
    }

    .custom-img {
        width: 250px;
        /* Antes 200px */
        height: 250px;
        border-width: 6px;
    }
}

@media (max-width: 576px) {
    #miCarrusel {
        margin-top: 80px !important;
    }

    .custom-img {
        width: 180px;
        /* Antes 160px */
        height: 180px;
    }
}

img {
    max-width: 100%;
    height: auto;
}